<!DOCTYPE html>
<html>
  <head>
    <title>HTMX & GO</title>
    <link href="./index.css" rel="stylesheet"/>
    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
  </head>
  <body>
    <h4>HTMX & GO</h4>
    <button
        class="manga-get-button"
        hx-get="http://localhost:8080/manga"
        hx-target="#mangaList"
    >
        Get Manga List
    </button>
    <ul id="mangaList"></ul>
      <select id="manga-list-select" name="">
        <option value=1>1</option>
        <option value=2>2</option>
        <option value=3>3</option>
    </select>
    <button
        class="manga-get-unique-button"
        hx-get="http://localhost:8080/manga"
        hx-target="#mangaUnique"
      >
        Get Manga by ID
    </button>
  <div id="mangaUnique"></div>
  <div id="actionButtons"></div>
  <script src="./htmx.js"></script>
  </body>
</html>